---

---

<!-- Banner -->
<div
    class="lg:px-20 w-full my-10
    border-t border-b border-amber-300 bg-indigo-300
    dark:border-indigo-500 dark:bg-indigo-900
    text-indigo-800 dark:text-indigo-50"
>
    <h1
        class="z-0 px-5 py-5 font-sans text-xl lg:text-3xl
    flex flex-col md:flex-row md:text-nowrap gap-1 items-center justify-center place-content-center
    italic font-normal"
    >
        <span class="">✨ Free Six-Week </span>
        <span class="">Command Line Mini-Series </span>
        <span class="">Begins June 5, 2025 ! ✨</span>
    </h1>
</div>