---
import TextClipboard from "./react/TextClipboard.tsx";
---

<section
    id="contribute"
    class="z-10 mt-10 md:mt-20
        w-full px-5 md:px-10 lg:px-20 py-10 md:py-20
        flex flex-col items-center justify-center place-content-center
        gap-10 lg:gap-20
        bg-indigo-50 dark:bg-indigo-950"
>
    <h1
        class="font-sans font-medium dark:font-normal
            leading-8 md:leading-10 lg:leading-14
            text-center
            text-3xl md:text-4xl lg:text-5xl
            text-transparent bg-clip-text
            bg-gradient-to-r from-indigo-600 dark:from-indigo-500
            from-20% to-fuchsia-800 dark:to-sky-300 to-90%
            z-0 w-full text-nowrap"
    >
        Contribute to the Project
    </h1>
    <h2
        class="font-light leading-8 lg:leading-10 text-center
        text-xl lg:text-2xl xl:text-3xl max-w-3xl
        text-slate-800 dark:text-slate-400"
    >
        As a free and open source project, we welcome Bitcoin donations via the
        Lightning Network or On-chain using the QR codes below. Your donations
        make this project possible!
    </h2>
    <div
        class="flex flex-col md:flex-row gap-20 md:gap-40 lg:gap-60
            items-center justify-center w-full h-full"
    >
        <div
            id="lightning"
            class="flex flex-col items-center justify-center place-content-center
            bg-indigo-100 rounded-xl p-5"
        >
            <p
                class="w-full px-5 md:px-10 pb-5
                text-center text-slate-700"
            >
                Lightning Network
            </p>
            <div
                class="w-full md:max-w-[500px] bg-indigo-100 rounded-lg items-center justify-center"
            >
                <img
                    class="w-full"
                    src="/images/csj-npub-lnaddress.svg"
                    alt="Lightning Network QR code"
                />
            </div>
            <TextClipboard
                client:load
                text="npub1j8342dle7sp8ull50gdj8nfr3gqtz7r3n5darl7m0mvp70a5t3nqcztgf2@npub.cash"
            />
        </div>
        <div
            id="bitcoin"
            class="flex flex-col items-center justify-center place-content-center
            bg-indigo-100 rounded-xl p-5"
        >
            <p
                class="w-full px-5 md:px-10 pb-5
                text-center text-slate-700"
            >
                Bitcoin On-chain
            </p>
            <div class="w-full bg-indigo-100 items-center justify-center">
                <img
                    class="w-full"
                    src="/images/csj-p4-bitcoin-qrcode.svg"
                    alt="Bitcoin QR code"
                />
            </div>
            <TextClipboard
                client:load
                text="bc1p2juqahdn3h3dwez9thuvty473t53m4rk3330tjl8kx9e30m50k8s53j80h"
            />
        </div>
    </div>
    <h2
        class="font-medium leading-8 lg:leading-10 text-center
    text-xl lg:text-2xl xl:text-3xl max-w-3xl
    text-sky-500"
    >
        Thank you for supporting the project!
    </h2>
    <h2
        class="font-light leading-8 lg:leading-10 text-center
        text-xl lg:text-2xl xl:text-3xl max-w-3xl
        text-slate-800 dark:text-slate-400"
    >
        We also welcome your feedback and expertise in improving the guide book
        content. To make suggestions or improvements, visit the Github
        repository with the button below and follow the instructions in the
        Contributing section.
    </h2>

    <a
        target="offline"
        href="https://github.com/christopher-s-jones/awesome-command-line"
    >
        <button
            class="flex flex-row gap-2 items-center justify-center
                text-nowrap min-w-[150px] max-w-full
                bg-gradient-to-r from-sky-500 to-indigo-500
                hover:from-sky-600 hover:to-indigo-600
                rounded-3xl px-5 py-3 text-white text-sm font-semibold
                border border-indigo-400 cursor-pointer"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 496 512"
                fill="currentColor"
                class="size-6"
                ><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                <path
                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
                ></path></svg
            >
            Github
        </button>
    </a>
</section>
