---
---
<footer class="absolute bottom-0 right-0 left-0 z-20 py-5 w-full
    text-sm 2xl:text-lg 3xl:text-xl leading-6 
    bg-slate-100 dark:bg-slate-900">
    <div class="mx-auto px-5 sm:px-10 md:px-20">
        <div class="flex flex-col gap-3 items-center justify-center w-full
            text-slate-400 dark:text-slate-600">
            <div class="space-y-4">About the organizer,
                <a target="offline" href="https://christopherjones.co/about"
                    class="hover:underline text-sky-500"
                >
                    Chris
                </a>
            </div>
            <div class="space-y-4">Built with ♥️ in Colorado</div>
        </div>
    </div>
</footer>