<footer
    class="relative right-0 left-0 z-20 py-20 w-full h-full
    text-sm 2xl:text-lg 3xl:text-xl leading-6
    bg-indigo-200 dark:bg-slate-900"
>
    <div
        class="flex flex-row items-center- place-content-center
        px-5 sm:px-10 md:px-20"
    >
        <div
            class="flex flex-col gap-10
            items-center justify-center place-content-center
            max-w-[300px]
            text-slate-700 dark:text-slate-400"
        >
            <div class="space-y-4 text-justify">
                Awesome Command Line is an open source education and freedom
                project offered by Christopher Jones. Get in touch with Chris
                via his
                <a
                    target="offline"
                    href="https://christopherjones.co"
                    class="hover:underline text-sky-500"
                >
                    website.
                </a>
            </div>
            <div class="space-y-4">Built with ♥️ in Colorado</div>
        </div>
    </div>
</footer>